<h1>{{title}}</h1>

<ul class="heroes">
    <li *ngFor="let user of users"
        (click)="getUser(user.id)">
        <a>
            <span class="badge">{{user.id}}</span> {{user.firstname}}, {{user.lastname}},
        </a>
    </li>
</ul>


<div *ngIf="selectedUser">

    <h2>{{ selectedUser.firstname | uppercase }} Details</h2>
    <div><span>id: </span>{{selectedUser.id}}</div>
    <div>
        <label>First Name:
            <input [(ngModel)]="selectedUser.firstname" placeholder="lastname">
        </label>
        <br>
        <label>Last Name:
            <input [(ngModel)]="selectedUser.firstname" placeholder="firstname">
        </label>
        <br>

        <label>Age:
            <input [(ngModel)]="selectedUser.age" placeholder="age">
        </label>
        <br>

        <label>BIO:
            <input [(ngModel)]="selectedUser.bio" placeholder="bio">
        </label>
    </div>

</div>